@font-face {
    font-family: "century_old_style_revival_tRg";
    src: url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_revival-webfont.eot");
    src: url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_revival-webfont.woff") format("woff"),
        url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_revival-webfont.ttf") format("truetype"),
        url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_revival-webfont.svg#TypoRevival") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "drupeletregular";
    src: url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_drupelet-webfont.eot");
    src: url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_drupelet-webfont.woff2") format('woff2'),
        url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_drupelet-webfont.woff") format('woff'),
        url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_drupelet-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Crookregular";
    src: url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_crook-webfont.eot");
    src: url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_crook-webfont.woff2") format('woff2'),
        url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_crook-webfont.woff") format('woff'),
        url("file:///C:/Users/elien/Documents/eigen%20projecten/site/Fonts/elienlaenen_crook-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}



/*body { cursor: url(cursorPNG2-01.png), pointer ; } */


/* @keyframes h1 {
0% {opacity:0;}
100% {opacity:1;}
}
*/

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 span {
    font-family: "drupeletregular";
    font-size: 1700%;
    text-align: center;
    font-weight: normal;
    animation-name: h1;
    animation-duration: 3s;
    animation-direction: alternate;

    -webkit-animation: fade-in 2s ease-in 0s infinite alternate both;
    animation: fade-in 2s ease-in 0s infinite alternate both;
}

h1 span:nth-child(2) {
    animation-delay: 2s;
    -ms-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

h1 span:nth-child(3) {
    animation-delay: 3s;
    -ms-animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

h1 span:nth-child(4) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}


h2 {
    font-family: "century_old_style_revival_tRg";
    font-weight: normal;
    font-size: 200%;
    padding-left: 47%;

}

h3 {
    font-family: "century_old_style_revival_tRg";
    font-weight: normal;
    font-size: 100%;
    padding-left: 47%;
}

h4 {
    font-family: "century_old_style_revival_tRg";
    font-weight: normal;
    font-size: 200%;
    padding-left: 30%;
}

p {
    font-family: "century_old_style_revival_tRg";
    font-weight: normal;
    font-size: 100%;
    padding-left: 30%;
    padding-right: 30%;
    line-height: 120%;
}

p2 {
    font-family: "century_old_style_revival_tRg";
    font-weight: normal;
    font-size: 100%;
    padding-right: 30%;
    line-height: 120%;
    padding-left: 30%;
    position: absolute;
    bottom: 0%;
    width: 99%;
    height: 4%;
}

p3 {
    font-family: "century_old_style_revival_tRg";
    font-weight: normal;
    font-size: 100%;
    padding-right: 30%;
    line-height: 120%;
    margin-left: 5%;
    position: relative;
    bottom: 0%;
    width: 99%;
}



* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
    margin-top: 3%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}



/* Next & previous buttons */

.next {
    cursor: url(pijlR2.png), pointer;
    ;
    position: absolute;
    top: 0px;
    width: auto;
    height: 100%;
    padding: 20%;
    color: transparent;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    cursor: url(pijlL2.png), pointer;
    ;
    position: absolute;
    top: 0px;
    width: auto;
    height: 100%;
    padding: 20%;
    color: transparent;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: transparent;
}

/* Caption text */
.text {
    color: black;
    font-family: "century_old_style_revival_tRg";
    font-size: 16px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


.afbeeldingen {

    display: inline;

}
